<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Terminal</title>
        <script>
        function myFunction() {
            console.log("clicked")
          }</script>
	<script>
	function changeMe() {
    		var div = document.getElementById('text').innerHTML;
    		if (div === 'First') {
        		document.getElementById('text').innerHTML = "<p> How to list files in linux? <br>Use the following command:  <br>#ls -la <br>";
    		} else {
        		document.getElementById('text').innerHTML = "First";
    		}
	}
	</script>
    </head>
    <body>
        <div id="terminal"></div>
        <div id="settings"></div>
        <script type="text/javascript">
            window.ttyInitialData = {
                sessionID: {{.SessionID}},
                salt: {{.Salt}},
                wsPath: {{.WSPath}}
            }
            console.log("Initial data", window.ttyInitialData)
        </script>
        <script src="/static/tty-receiver.js"></script>
	<div id="button">
        <button type="button" onclick="changeMe()">Next</button>
        </div>
	<div id="text"><p>First</p>
        </div>

    </body>
</html>
