<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Terminal</title>
        <script>
        function myFunction() {
            console.log("clicked")
          }</script>
    </head>
    <body>
        <div id="terminal"></div>
        <div id="settings"></div>
        <script type="text/javascript">
            window.ttyInitialData = {
                sessionID: {{.SessionID}},
                salt: {{.Salt}},
                wsPath: {{.WSPath}}
            }
            console.log("Initial data", window.ttyInitialData)
        </script>
        <script src="/static/tty-receiver.js"></script>
	<div id="text"><p>1) Create partition<br>
# fdisk -l<br>
# fdisk /dev/sdf <br>
2) Create physical volume<br>
#pvcreate /dev/sdf[3,4]<br>
3) Create volume group<br>
# vgcreate datavg /dev/sdf[3,4]<br>
4) Creating Mirrored logical volume<br>
# lvcreate -L 50M -m1 -n mirrorlv datavg<br>
5) Create filesystem and mount<br>
		# mkfs:ext4 /dev/datavg/mirrorlv<br>
		# mount /dev/datavg/mirrorlv /mnt/mirrorlv<br>
</p>
<button type="button" onclick="myFunction()">Next</button>
</div>

    </body>
</html>
